body {
  color: #000;
  background-color: #fff;
  font-family: "Open+Sans", sans-serif;
}

/*=====================================================================================|
|************************************** 1. HEADER *************************************|
|======================================================================================|*/
#header-nav {
  background-color: #003399;
  box-shadow: 0 0 10px #003399;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar-brand h1 {
  font-size: 3.5em;
  font-weight: bold;
  font-family: 'Qwigley', cursive;
  margin-top: 2px;
  line-height: .75;
  color: #fff;
  text-shadow: 1px 1.5px 1px #ff66d9;
}
.navbar-brand h1 span {
  color: #ff66d9;
  text-shadow: 0.5px 0.5px #fff;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
/* END Header */

/************************************* 1.1 Navbar **************************************
========================================================================================*/
#nav-list {
  text-align: center;
  margin: 8px auto;
}
#nav-list a.dropdown-toggle { /* Primary nav menu */
  color: #fff;
}
#nav-list a.dropdown-toggle:hover {
  background: #E7E7E7;
  color: #000;
}
#nav-list a.dropdown-toggle span { /* Glyphs */
  font-size: 1.3em;
}
#nav-list li ul { /* Secondary nav menu */
  color: #000;
  font-size: 1.2em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.navbar-default .navbar-nav>.open>a:focus {
  background-color: #003399;
  font-style: underline;
}
#collapsable-nav a.dropdown-toggle { /* Collapsed nav menu glyphs and words */
  font-size: 1.15em;
  padding: 3px;
}
#collapsable-nav li ul { /* Collapsed nav menu glyphs and words */
  text-align: center;
}
#collapsable-nav li ul a { /* Collapsed nav menu glyphs and words */
  padding: 2px 5px;
  font-size: 0.92em;
}
#collapsable-nav a span { /* Collapsed nav glyphs */
  font-size: 0.8em; /* To override sizing of larger screen sizes */
  margin-right: 5px;
}
/* END Navbar */

/*=====================================================================================|
|********************************** 2. MAIN-CONTENT ***********************************|
|======================================================================================|*/
#main-content {
  padding-top: 90px;
  padding-bottom: 30px;
  z-index: -1;
}
h2 {
  font-size: 3.5em;
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
}
h2 span { /* Glyphs */
  font-size: 0.8em;
  padding-right: 7px;
}
h3 span { /* Glyphs */
  padding-right: 5px;
}
.jumbotron {
  background-color: #fff;
  min-height: 100%;
  padding: 20px;
  margin: 0;
}
.jumbotron p {
  margin: 10px;
  font-size: 1.5em;
  font-family: "Marck Script";
  text-align: center;
}
/* END Main-content */

/*********************************** 2.1 Panels *************************************
========================================================================================*/
h4.panel-title {
  font-weight: bold;
  font-size: 1.5em;
}
.panel-body {
  font-family: "Open+Sans", sans-serif;
  font-size: 1.5em;
}
.panel-body table {
  float: left;
  width: 45%;
}
.panel-body td:first-child { /* first column */
  font-weight: bold;
  text-align: right;
  vertical-align: text-top;
}
.panel-body td:first-child + td { /* second column */ 
  padding-left: 12px;
  font-family: "Marck Script";
  font-size: 1.12em;
}
.panel-body img {
  float: left;
  height: 320px;
  padding: 10px;
}
.panel-body iframe {
  float: left;
  width: 320px; 
  height: 320px;
  border: 0;
  padding: 10px;
}
/* END Review */

/************************************* 2.2 Footer **************************************
========================================================================================*/
.panel-footer {
  background-color: #222;
  border-top: 0;
  color: #fff;
  position:absolute;
  width:100%;
  bottom: 0;
  height:60px;
  z-index: -1;
}
/* END Footer */

/*=====================================================================================|
|******************************* 3. SIZE DEPENDENT STYLES *****************************|
|======================================================================================|*/

/***************************** 3.1 Large devices only **********************************
========================================================================================*/
@media (min-width: 1200px) {
}

/***************************** 3.2 Medium devices only *********************************
========================================================================================*/
@media (min-width: 992px) and (max-width: 1199px) {

  /** Header *****************************************************/
  #header-nav {
    font-size: 80%;
  }
  .navbar-brand h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 1.9em;
  }
  #nav-list {
    margin-top: 8px;
  }
  #nav-list li ul a span {
    font-size: 0.9em;
  }

  /** Panels *****************************************************/
  .panel-heading {
    padding: 6px 10px;
  }
  h4.panel-title {
    font-size: 1.3em;
  }
  .panel-body {
    font-size: 1.2em;
  }
  .panel-body td:first-child + td { /* second column */ 
    padding-left: 8px;
    font-size: 1.3em;
  }
  .panel-body img {
    height: 280px;
    padding: 5px;
  }
  .panel-body iframe {
    width: 280px; 
    height: 280px;
    padding: 5px;
  }
}

/***************************** 3.3 Small devices only **********************************
========================================================================================*/
@media (min-width: 768px) and (max-width: 991px) {
  
  /** Header *****************************************************/
  #header-nav {
    font-size: 70%;
  }
  .navbar-brand h1 {
    font-size: 2.1em;
    margin-top: 2px;
  }
  h2 {
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 1.7em;
    margin-top: 8px;
    margin-bottom: 5px;
  }
  #nav-list {
    margin-top: 5px;
    margin-bottom: 2px
  }
  #nav-list > li > a {
    padding: 10px;
  }
  #collapsable-nav a.dropdown-toggle { /* Collapsed nav menu glyphs and words */
    font-size: 1.3em;
  }
  
  /** Panels *****************************************************/
  .panel-heading {
    padding: 4px 6px;
  }
  h4.panel-title {
    font-size: 1.25em;
    font-weight: normal;
  }
  .panel-heading {
    padding: 5px 8px;
  }
  .panel-body {
    font-size: 1.2em;
  }
  .panel-body img {
    height: 230px;
    padding: 5px;
  }
  .panel-body iframe {
    width: 230px; 
    height: 230px;
    padding: 5px;
  }
}

/************************** 3.4 Extra-small devices only *******************************
========================================================================================*/
@media (max-width: 767px) {
  
  /** Header *****************************************************/
  .navbar-brand h1 {
    font-size: 2em;
    margin-top: 2px;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #fff;
  }
  .navbar-header button.navbar-toggle {
    margin-top: -40px;
  }
  #main-content {
    padding-top: 60px;
  }
  h2 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 1.4em;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  #collapsable-nav li ul a {
    color: #000;
    color: #fff;
  }
  
  /** Panels *****************************************************/
  h4.panel-title {
    font-size: 1.15em;
    font-weight: normal;
  }
  .panel-heading {
    padding: 3px 6px;
  }
  .panel-body {
    font-size: 1.2em;
  }
  .panel-body table {
    width: 50%;
  }
  .panel-body img {
    height: 200px;
    padding: 5px;
  }
  .panel-body iframe {
    width: 200px; 
    height: 200px;
    padding: 3px;
  }
  /* END Footer */
}

/********************* 3.4 Super-small devices only (like iPhone 4) ********************
========================================================================================*/
@media (max-width: 479px) {

  /** Header *****************************************************/
  #main-content {
    padding-top: 50px;
  }
  .navbar-brand h1 {
    font-size: 2em;
    margin-top: 2px;
  }
  h2 {
    font-size: 1.8em;
  }
  
  /** Panels *****************************************************/
  .panel-body {
    font-size: 1.1em;
  }
  .panel-body table {
    width: 100%;
  }
  .panel-body img {
    width: 80vw;
    height: auto;
    padding: 2px;
  }
  .panel-body iframe {
    width: 80vw;
    height: 200px;
    padding: 3px;
  }
}